@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@800&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  font-family: "Manrope", sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: var(--DarkBlue);
}

.mainContainer {
  background-color: var(--DarkGrayish-Blue);
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 50px;
}




.container{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 25px;
  color: var(--LightCyan);
  width: 500px;
  height: 300px;
}

h1{
  text-align: center;
  font-size: var(--font-size);
  line-height: 30px;
  padding: 20px;
}

p{
  color: var(--NeonGreen);
}

.line{
  content: url(./images/pattern-divider-desktop.svg);
  position: relative;
  width: 100%;
  border: 1px solid var;
  z-index: 1;
}

button{
  background-color: var(--NeonGreen);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
  padding: 20px;
  position: relative;
  top: 30px;
  cursor: pointer;
  border: 5px solid var(--DarkBlue);
}

#fa{
  width: 50px;
  height: 50px;
  padding: 20px;
  background-color: var(--NeonGreen);
  border-radius: 100%;
  color: black;
  position: relative;
  top: 70px;
  left: 20px;
}

.myAdvice{
  margin: 0;
}

.light {
  --DarkBlue: aliceblue;
  --DarkGrayish-Blue: rgb(44, 71, 193);
  --Grayish-Blue: hsl(0, 0%, 76%);
  --LightCyan: hsl(44, 94%, 56%);
  --NeonGreen: hsla(120, 98%, 61%, 0.683);
}

:root {
  --Grayish-Blue: hsl(217, 19%, 38%);
  --DarkGrayish-Blue: hsl(217, 19%, 24%);
  --DarkBlue: hsl(218, 23%, 16%);
  --LightCyan: hsl(193, 38%, 86%);
  --NeonGreen: hsl(150, 100%, 66%);
  --font-size: 1.5rem;
}

.attribution {
  font-size: 11px;
  text-align: center;
  color: var(--LightCyan);
}

.attribution a {
  color: hsl(228, 45%, 44%);
}
