@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@800&display=swap');

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  font-family: 'Manrope', sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: var(--DarkBlue);
}

.container{
    background-color: var(--Grayish-Blue);
    color: var(--LightCyan);
    width: 550px;
    height: 350px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 25px;

}

:root {
  --Grayish-Blue: hsl(217, 19%, 38%);
  --DarkGrayish-Blue: hsl(217, 19%, 24%);
  --DarkBlue: hsl(218, 23%, 16%);
  --LightCyan: hsl(193, 38%, 86%);
  --NeonGreen: hsl(150, 100%, 66%);
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}
